.footer {
    background-color: #36003780;
    padding: 20px;
    text-align: center;    
}

.footer-text {
    margin-bottom: 20px;
}

.footer-text p {
    margin: 0;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.footer-images {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px; 
}

.footer-images img {
    height: 80px; 
    width: auto; 
    flex: 1;
}
